#root {
  width: 600px;
  height: 100%;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  background-color: rgba(252, 200, 170, 0.377);
}
* {
  box-sizing: border-box;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: chocolate;
}
header svg {
  width: 30px;
  fill: white;
}
header h1 {
  margin-left: 10px;
  display: block;
  font-weight: 400;
}
.card-layout {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.card-container {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  padding: 10px;
}
.card-img {
  grid-column: 1 / 2;
  width: 180px;
  height: 220px;
  border-radius: 16px;
  overflow: hidden;
}
.card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card-content {
  grid-column: 2 / 3;
  align-self: center;
}
.card-location {
  display: flex;
  align-items: baseline;
  gap: 10px;
  font-size: 16px;
}
.card-location a {
  color:gray;
  font-size: 14px;
}
.locate-icon {
  width: 10px;
  fill: brown;
}
.location {
  font-weight: 500;
  letter-spacing: 2px;
  color: brown;
}
.card-name {
  font-size: 28px;
  font-weight: 600;
  line-height: 2;
}
.card-date {
  font-size: 14px;
  font-weight: 600;
  line-height: 2;
  color: chocolate;
}
.card-description {
  font-size: 14px;
  line-height: 1.5;
  font-weight: 300;
}
.meme-layout {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.form-input {
  display: flex;
  justify-content: space-between;
  margin: 10px 0 0 0;
  gap: 10px;
}
.form-input input {
  padding: 20px;
  border-radius: 8px;
  border: 0;
  width: 50%;
}
.meme-layout button {
  background-color: brown;
  color: white;
  padding: 10px;
  border-radius: 8px;
  border: 0;
}
.meme-container {
  width: 100%;
  position: relative;
}
.meme-container img {
  width: 100%;
  object-fit: cover;
}
.meme-text {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-family: impact, sans-serif;
  text-transform: uppercase;
  font-size: 2em;
  letter-spacing: 1px;
  color: white;
  text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        0 2px 0 #000,
        2px 0 0 #000,
        0 -2px 0 #000,
        -2px 0 0 #000,
        2px 2px 5px #000;
}
.top {
  top: 10%;
}
.bottom {
  bottom: 0;
}